.new
  = link_to I18n.t('note.new'), new_note_path, :class => 'links_button'
- @notes.each do |note|
  .note
    = link_to I18n.t('note.delete'), note, :confirm => I18n.t('confirmation'), :method => :delete, :class => 'links_button'
    = link_to I18n.t('note.edit'), edit_note_path(note), :class => 'links_button'
    =raw note.text
    .tags
      %b Tags: 
      %i 
        - if note.tags.size > 0
          = note.tag_list  
        - else
          = I18n.t('note.notags')
        
        
