- if current_user.email == 'demo@snote.com'
  :javascript
    window.location.replace("http://snote.heroku.com");
#bg_form
  %h1
    = I18n.t('user.editing')
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    - if @user.errors.any?
      #error_messages
        %h2
          = pluralize(@user.errors.count, I18n.t('error'))
        %ul
          - @user.errors.full_messages.each do |msg|
            %li
              = msg
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p
      = f.label :password
      %i
        = I18n.t('devise.registrations.hint_alter_password')
      %br/
      = f.password_field :password
    %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    %p
      = f.label :current_password
      %i
        = I18n.t('devise.registrations.hint_current_password')
      %br/
      = f.password_field :current_password
    %p= f.submit I18n.t('update')
  = link_to I18n.t('back'), root_path

