#explication
  = image_tag "explication.png"
#bg_form
  %h1
    = I18n.t('login')
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #error_messages
      = alert
    %p
      = f.label :email
      %br
      = f.text_field :email
    %p
      = f.label :password
      %br
      = f.password_field :password
    - if devise_mapping.rememberable?
      %p
        = f.check_box :remember_me
        = f.label :remember_me
    %p= f.submit I18n.t('login')
  = link_to I18n.t('user.sign_up'), new_user_registration_path
  %br
  = link_to I18n.t('user.forgot_password'), new_password_path(resource_name)
  %br
  %p= I18n.t('user.demo').html_safe
  %p
    %b E-mail:
    %i demo@snote.com
    %br
    %b= I18n.t('user.password')+':'
    %i snote11
#credit
  %p
    %strong= t('credit.footer', :project_link => link_to(t('credit.project'), 'http://github.com/Vizir/snote'), :author => link_to('Fabrício Ferrari de Campos', 'http://twitter.com/fabricioffc')).html_safe
    %br
    %strong= t('credit.initiative', :link => link_to("Vizir", "http://www.vizir.com.br")).html_safe
