!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title Snote - notes made easy
  = stylesheet_link_tag :all
  = javascript_include_tag 'jquery/jquery-1.5.1.min.js'
  = javascript_include_tag 'jquery/jquery-ui-1.8.11.custom.min.js'
  = csrf_meta_tag

  %body
    #snote
      #logo
        = link_to (image_tag "/images/snote_title.png", :alt => "Snote",
          :title =>"Snote"), root_path
      - if current_user
        #links_menu
          = link_to I18n.t('user.edit_link'), edit_user_registration_path
          |
          = link_to I18n.t('logout'), destroy_user_session_path

      = yield
    = google_analytics
  :javascript
    $('form').submit(function(){
      // On submit disable its submit button
      $('input[type=submit]', this).attr('disabled', 'disabled');
      $('input[type=submit]', this).attr('value', "#{t('please_wait')}");
    });

